export(LR)
importFrom("stats", "as.formula", "model.matrix", "na.omit", "pf",
           "pt", "qt")
importFrom("utils", "capture.output")
import("ISLR")
importFrom("stats", "quantile")
import("bench")
